body {
  font-family: "Open Sans", sans-serif; 
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}
/*Header*/
#la-img {
  background-image: url(../images/new-york-bw.jpg);
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(27, 27, 27, .4);
}

#logo {
  z-index: 20;
  width: 100%;
  text-align: center;
  margin: 0px 0px;
  color: #fff;
  padding-top: 120px;
  font-size: 72px;
  font-weight: 700;
}

#hook {
  width: 100%;
  text-align: center;
  margin: 0px 0px;
  color: #fff;
  font-size: 36px;
  padding-top: 20px;
}

.input-group {
  width: 33%;
  margin: 0px auto;
  z-index: 100;
  margin-top: 50vh;
}

.input {
  border-radius: 4px !important;
  margin-top: 10px;
  text-transform: capitalize;
  display: block;
}

/*Search results*/
.indeed-results,
.yelp-results {
  height: 500px; 
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.col-sm-5 {
  padding: 0px 0px;
}

ul::-webkit-scrollbar { 
    display: none; 
}

.list-group {
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px
}

.title {
  text-align: center;
}

.apartment {
  text-transform: none;
  margin: 0px 0px;
}

.show-hide {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.show-hide.ng-hide {
  opacity:0;
}

.ng-show-add, .ng-show-remove {
  transition: all linear 0.5s;
}

#rating {
  float: right;
  display: inline-block;
}

#review {
  position: absolute;
  top: -6px;
  margin-left: 10px;
  display: inline-block;
}

/*map*/
#map {
  height: 500px;
  width: 800px;
  border: 1px solid black; 
}