body {
  font-family: "Open Sans", sans-serif; 
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

h3 {
  margin: 0px 0px;
}

/*Header*/
#la-img {
  background-image: url(../images/new-york-bw.jpg);
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(27, 27, 27, .4);
}

#logo {
  z-index: 20;
  width: 100%;
  text-align: center;
  margin: 0px 0px;
  color: #fff;
  padding-top: 120px;
  font-size: 72px;
  font-weight: 700;
}

#hook {
  width: 100%;
  text-align: center;
  margin: 0px 0px;
  color: #fff;
  font-size: 36px;
  padding-top: 20px;
}

.input-group {
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 40px;
  z-index: 100;
  min-width: 300px;
  max-width: 500px;
}

.input {
  border-radius: 4px !important;
  margin-top: 10px;
  text-transform: capitalize;
  display: block;
  text-align: center; 
  min-width: 300px;
  max-width: 500px;
}

.submit {
  background-color: #2164f3;
  border-color: #2164f3;
  color: #fff;
}

.submit:hover {
  background-color: #2164f3;
  border-color: #fff;
  color: #fff;
}

.nav {
  position: fixed !important;
  top: 0;
  margin: 0px 0px;
  z-index: 100;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  padding: 0px 0px;
  width: 100%;
}

.sticky {
  width: 30% !important;
  border-top: 0;
  border-color: #fff;
  display: inline !important;
  margin: 0px 0px;
  border-radius: 0 !important;
  margin: 0 auto;
  -moz-box-flex: 1.0;
  -webkit-box-flex: 1.0;
  box-flex: 1.0;
  background-color: #001;
  color: #fff;
}

.arrow {
  position: absolute;
  margin-left: auto;
  margin-right: auto;  
  left: 0;
  right: 0;
  bottom: 20px;
}

/*Search results*/
.card {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  border: double #c0c0c0;
}

.yelp-card {
  margin-left: 10px;
}

.indeed-card {
  margin-right: 10px;
}

.indeed-results,
.yelp-results {
  height: 500px; 
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.col-sm-5 {
  padding: 0px 0px;
}

ul::-webkit-scrollbar { 
    display: none; 
}

.list-group {
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px
}

.list-group-item {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.title {
  text-align: center;
  margin: 30px 5px;
  font-weight: 600;
}

.yelp-title {
  color: #c41200;
}

.indeed-title {
  color: #2164f3;
}

.apartment {
  text-transform: none;
  margin: 0px 0px;
}

.apartment-button {
  border: none;
  margin: 0px 0px;
  padding: 0px 0px;
}

.apartment-button:hover {
  background-color: #eee;
}

.apartment-button:focus {
  outline: none !important;
  background-color: #fff !important;
}

#rating {
  float: right;
  display: inline-block;
  margin-top: 8px;
}

.apartment-img {
  float: left;
  margin-right: 10px;
}

#review {
  text-align: justify;
  margin-top: -15px;
}

.more-info {
  height: auto;
  margin-top: 10px;
}

.walkscore {
  margin-bottom: 0px;
}

.walkscore-logo {
  vertical-align: -webkit-baseline-middle;
}

/*map*/
.mapBox {
  height: 536px; 
  padding: 0px 0px;
}

.how-to {
  text-align: center;
  padding: 30px 10px;
}

#map {
  height: 100%;
}

.directions {
  overflow: auto;
  padding: 0px 0px;
} 

.directions-title {
  margin: 0px 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #c0c0c0;
}

.adp-marker {
  margin: 10px 10px;
}

.adp-text{
  font-weight: 400;
  padding-right: 15px;
}

.adp-summary {
  padding-left: 10px !important;
  font-weight: 400;
}

.adp-distance {
  margin-right: 15px;
}

/*footer*/
footer {
  background-color: #0f0f0e;
  background-image: url(../images/new-york-bw.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 200px;
}

.shadow {
  height: 200px;
  background-color: rgba(0,0,0,.5);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.indeed-img {
  background-image: url(../images/indeed-gray.png);
  height: 120px;
  width: 300px;
  background-repeat: no-repeat; 
  transition: all 0.2s ease-in-out;
}

.indeed-img:hover {
  background-image: url(../images/indeed.png);
  height: 120px;
  width: 300px;
  background-repeat: no-repeat; 
}

.yelp-img {
  background-image: url(../images/yelp-gray.png);
  height: 150px;
  width: 300px;
  background-repeat: no-repeat; 
  transition: all 0.2s ease-in-out;
}

.yelp-img:hover {
  background-image: url(../images/yelp.png);
  height: 150px;
  width: 300px;
  background-repeat: no-repeat; 
}

.walkscore-img {
  background-image: url(../images/walk-score-gray.png);
  height: 70px;
  width: 400px;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out; 
}

.walkscore-img:hover {
  background-image: url(../images/walk-score.png);
  height: 70px;
  width: 400px;
  background-repeat: no-repeat; 
}

.google-img {
  background-image: url(../images/google-maps-gray.png);
  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
}

.google-img:hover {
  background-image: url(../images/google-maps.png);
  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
}

@media (max-width: 1150px) {
  .indeed-img {
    background-image: url(../images/indeed-gray-sm.png);
    height: 60px;
    width: 150px;
    background-repeat: no-repeat; 
  }

  .indeed-img:hover {
    background-image: url(../images/indeed-sm.png);
    height: 60px;
    width: 150px;
    background-repeat: no-repeat; 
  }

  .yelp-img {
    background-image: url(../images/yelp-gray-sm.png);
    height: 75px;
    width: 150px;
    background-repeat: no-repeat; 
  }

  .yelp-img:hover {
    background-image: url(../images/yelp-sm.png);
    height: 75px;
    width: 150px;
    background-repeat: no-repeat; 
  }

  .walkscore-img {
    background-image: url(../images/walk-score-gray-sm.png);
    height: 40px;
    width: 200px;
    background-repeat: no-repeat; 
  }

  .walkscore-img:hover {
    background-image: url(../images/walk-score-sm.png);
    height: 40px;
    width: 200px;
    background-repeat: no-repeat; 
  }

  .google-img {
    background-image: url(../images/google-maps-gray-sm.png);
    height: 75px;
    width: 75px;
    background-repeat: no-repeat;
  }

  .google-img:hover {
    background-image: url(../images/google-maps-sm.png);
    height: 75px;
    width: 75px;
    background-repeat: no-repeat;
  }
}

@media (max-width: 767px) {
  .sticky { 
    width: 100% !important;
    display: !important;
    margin: 0px 0px;
    max-width: 767px
  }
}

@media (max-width: 560px) {
  #hook {
    font-size: 30px;
  }
}

@media (max-width: 506px) {
  #logo {
    font-size: 48px;
  }

  #hook {
    font-size: 24px;
  }
}
